<div class="section__title">
    <div class="section__title__textback">
        <span class="textback__rotate__left">01</span>
    </div>
    <h2>About</h2>
</div>

<div class="section__content">
    <p>
        Lead Software Engineer in the development of the <a href="https://gametrade.pt" target="_blank"
            rel="noreferrer">#1 Marketplace
            for
            Video Games in Portugal</a>, building it from zero to #1 betting on user's ideas and feedback.
    </p>
    <p>
        Also, Lead Software Engineer and in the creation of a <a href="https://brainanswer.pt" target="_blank"
            rel="noreferrer">Full-featured Neuroscience
            Research Platform</a> to study human behaviour, from conception to being used in multiple continents.
    </p>

    <p>
        Closely <b>coordinated efforts in small teams</b> with individuals of complementary expertise, at fast pace and
        self-starter environments. Proficiency in <b>full-stack software development and UX (10+ years of
            experience)</b>.
    </p>
</div>