<div class="section__title">
    <div class="section__title__textback">
        <span class="textback__rotate__left">01</span>
    </div>
    <h2>
        About
        <!--Who am I?-->
    </h2>
</div>


<div class="section__content inner">
    <div>
        <p>
            <b>Coordinated efforts in small teams</b> of individuals with complementary expertise, at fast pace and
            self-starter environments.
            <!-- Specializing in <b>software development and user experience</b>. -->
        </p>
        <p style="padding-right: 30px;">
            <b>Lead Software Engineer</b> in the planning, creation and architecture of a full-featured
            <a href="https://brainanswer.pt" class="link link--metis" target="_blank" rel="noreferrer"> neuroscience
                platform</a> to study human behavior, from conception to being used in multiple continents.
        </p>
        <p style="padding-right: 60px;">
            <b>Full Stack Software Engineer</b> in the development of the <a href="https://gametrade.pt"
                class="link link--metis" target="_blank" rel="noreferrer">#1 marketplace for video games in
                Portugal</a>, building it from zero, implementing ideas from the community.
        </p>
    </div>
    <div class="about__profile__image">
        <div class="image-wrapper scrollreveal__fromright scrollreveal__long scrollreveal__delay05">
            <img src="/assets/images/profile/lm-profile-light-small-min.png" alt="Luís Marques">
        </div>
    </div>
</div>