<div class="footer__copyright">
    <div class="top">
        <span>Designed &amp; Developed by</span>
    </div>
    <div class="bottom">
        <span>Luís Marques</span>
        <span>in 2021</span>
    </div>
</div>
<div class="footer__links">
    <a href="mailto:euluismarques@gmail.com" target="_blank" title="email" rel="noreferrer">
        <span class="text">email</span>
    </a>
    <a href="https://twitter.com/luismarques_io" target="_blank" title="twitter" rel="noreferrer">
        <span class="text">twitter</span>
    </a>
    <a href="https://github.com/luismarques-io" target="_blank" title="github" rel="noreferrer">
        <span class="text">github</span>
    </a>
    <a href="https://www.linkedin.com/in/luismarques-io" target="_blank" title="linkedin" rel="noreferrer">
        <span class="text">linkedin</span>
    </a>
</div>