<div class="section__title text-left scrollreveal">
    <div class="section__title__textback">
        <span class="textback__rotate__left">05</span>
    </div>
    <h2>Other Interests</h2>
</div>

<div class="section__content hobbies">
    {% for item in site.data.hobbies %}
    <div class="hobbies__item scrollreveal">
        <div class="hobbies__item__image">
            <img src="{{item.image}}" alt="{{item.title}}">
        </div>
        <div class="hobbies__item__details scrollreveal__frombottom scrollreveal__delay25">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>