<div class="section__title text-center scrollreveal">
    <div class="section__title__textback">
        <span class="textback__rotate__right">05</span>
    </div>
    <h2>Other Interests</h2>
</div>

<div class="section__content hobbies">
    {% for item in site.data.hobbies %}
    <div class="hobbies__item scrollreveal">
        <div class="hobbies__item__image">
            <img src="{{item.image}}" alt="{{item.title}}" class="scrollreveal__frombottom scrollreveal__delay025">
        </div>
        <div class="hobbies__item__details">
            <h3 class="scrollreveal__frombottom scrollreveal__delay050">{{item.title}}</h3>
            <p class="scrollreveal__frombottom scrollreveal__delay075">{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>