<div class="section__title text-left">
    <div class="section__title__textback">
        <div class="scrollreveal__frombottom scrollreveal__delay025">
            <span class="textback__rotate__left">03</span>
        </div>
    </div>
    <h2>
        Experience
        <small>ordered by relevance</small>
    </h2>
</div>

<div class="section__content">
    <div class="jobs__tabs" role="tablist" aria-label="Job tabs">
        {% for item in site.data.experience %}
        <button id="tab__{{item.company | downcase | remove:' ' | remove:',' | remove:'.'}}" role="tab" tabindex="0"
            aria-selected="true" aria-controls="panel-0" class="jobs__tabs__button"
            data-tab="{{item.company | downcase | remove:' ' | remove:',' | remove:'.'}}">
            <span>{{item.company}}</span>
        </button>
        {% endfor %}
    </div>
    <div class="jobs__list scrollreveal__frombottom scrollreveal__delay025">
        {% for item in site.data.experience %}
        <div id="tabcontent__{{item.company | downcase | remove:' ' | remove:',' | remove:'.'}}" class="job">
            <h3 class="job__title__company">
                <span class="job__title">{{item.title}}</span>
                <span class="job__company">

                    {% if item.url %}
                    <a href="{{item.url}}" class="link link--metis" target="_blank" rel="noreferrer">
                        <small class="atsymbol">@</small> {{item.company}}</a>
                    {% else %}
                    <small class="atsymbol">@</small> <span>{{item.company}}</span>
                    {% endif %}
                </span>
            </h3>
            <p class="job__range">{{item.range}}</p>
            <div class="job__description">
                <ul>
                    {% for description in item.description %}
                    <li>{{description}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="job__technologies" style="display: none;">
                {% for tech in item.tech %}
                <span>{{tech}}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>