<input type="checkbox" id="show-menu">
<div class="navbar autohide scrolled-top scrolled-top-init">
  <div class="navbar__content">
    <div class="navbar__left">
      <ul>
        <li><a href="/" class="navbar__linklogo" rel="noreferrer">LM</a></li>
      </ul>
    </div>
    <div class="navbar__right">
      <label class="navbar__menu__btn" for="show-menu">
        <div class="ham-box">
          <div class="ham-box-inner"></div>
        </div>
      </label>
      <!-- <button class="navbar__menu__btn">
        <div class="ham-box">
          <div class="ham-box-inner"></div>
        </div>
      </button> -->
      <div class="navbar__menu">
        <ul>
          <li>
            <a href="/#about" class="navbar__link" rel="noreferrer">
              <span class="navbar__link__index">01</span>
              About
            </a>
          </li>
          <li>
            <a href="/#skills" class="navbar__link" rel="noreferrer">
              <span class="navbar__link__index">02</span>
              Skills
            </a>
          </li>
          <li>
            <a href="/#experience" class="navbar__link" rel="noreferrer">
              <span class="navbar__link__index">03</span>
              Experience
            </a>
          </li>
          <li>
            <a href="/#open_source_projects" class="navbar__link" rel="noreferrer">
              <span class="navbar__link__index">04</span>
              Open Source
            </a>
          </li>
          <li>
            <a href="https://blog.luismarques.io" class="navbar__link navbar__link__page" rel="noreferrer"
              target="_blank">
              Blog
            </a>
          </li>
          <li><a href="/assets/docs/CV-2023-Luis-Marques.pdf" class="navbar__link navbar__link__resume" target="_blank"
              rel="noreferrer">Curriculum Vitae</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>