<div class="navbar autohide scrolled-top scrolled-top-init">
    <div class="navbar__content">
        <div class="navbar__left">
            <ul>
                <li><a href="/" class="navbar__linklogo" rel="noreferrer">LM</a></li>
            </ul>
        </div>
        <div class="navbar__right">
            <ul>
                <li>
                    <a href="/#about" class="navbar__link" rel="noreferrer">
                        <span class="navbar__link__index">01</span>
                        About
                    </a>
                </li>
                <li>
                    <a href="/#skills" class="navbar__link" rel="noreferrer">
                        <span class="navbar__link__index">02</span>
                        Skills
                    </a>
                </li>
                <li>
                    <a href="/#experience" class="navbar__link" rel="noreferrer">
                        <span class="navbar__link__index">03</span>
                        Experience
                    </a>
                </li>
                <li>
                    <a href="/#pub_awards" class="navbar__link" rel="noreferrer">
                        <span class="navbar__link__index">04</span>
                        Pub. & Awards
                    </a>
                </li>
                <!-- <li>
                <a href="/#hobbies" class="navbar__link" rel="noreferrer">
                    <span class="navbar__link__index">05</span>
                    Hobbies
                </a>
            </li> -->
                <li><a href="/assets/docs/CV 2021 Luís Marques + Letter.pdf" class="navbar__link navbar__link__resume"
                        target="_blank" rel="noreferrer">Resume</a></li>
            </ul>
        </div>
    </div>
</div>