<div class="section__title scrollreveal">
    <div class="section__title__textback">
        <div class="scrollreveal__frombottom scrollreveal__delay025">
            <span class="textback__rotate__right">05</span>
        </div>
    </div>
    <h2>Expert Testemonials</h2>
</div>

<div class="section__content inner">
    {% for item in site.data.testemonials %}
    <div class="testemonial scrollreveal">
        <div class="testemonial__person">
            <div class="testemonial__person__photo">
                <img src="{{item.image}}" alt="{{item.name}}" class="scrollreveal__frombottom scrollreveal__delay025">
            </div>
            <div class="testemonial__person__info">
                <div class="testemonial__name scrollreveal__frombottom scrollreveal__delay025">{{item.name}}</div>
                <div class="testemonial__title scrollreveal__frombottom scrollreveal__delay050">{{item.title}}</div>
            </div>
        </div>
        <p class="testemonial__description scrollreveal__frombottom scrollreveal__delay075">{{item.description}}</p>
    </div>
    {% endfor %}
</div>