.about {
	border-bottom: 1px solid var(--purple-alpha);
	box-shadow: 0 80px 80px -20px var(--dark-blue-alpha);

	.inner {
		display: grid;
		grid-template-columns: 3fr 2fr;
		gap: 50px;
	}

	p {
		text-align: justify;

		&:nth-child(1) {
			padding-right: 60px;
		}
		&:nth-child(2) {
			padding-right: 30px;
		}
	}
}

@media (max-width: 768px) {
	.about .inner {
		display: block;
	}
}
