*,
*:before,
*:after {
	box-sizing: border-box;
}

::selection {
	background: var(--blue);
	color: var(--white);
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--color-text);
	font-family: var(--font-sans);
	font-size: var(--fz-lg);
	line-height: 1.5;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

main {
	overflow: hidden;
}

.relative {
	position: relative;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: var(--blue);
	text-decoration: none;
	font-weight: 600;
}

.link {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: var(--blue);
	font-weight: 300;
	border-bottom: 1px solid var(--blue-alpha-7);
	transition: all 0.4s;

	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 10px 14px -10px var(--blue-alpha-7);
		padding: 0 6px;
		margin: -2px -6px 0;
		transition: all 0.2s;
	}
}

.nobr {
	white-space: nowrap;
}

.grid-wrap {
	max-width: var(--grid-width);
	margin: auto;
}

.section {
	position: relative;
	padding: 220px 0px;

	&__darker {
		background: var(--light-blue-alpha);

		.section__title .section__title__textback {
			color: var(--white-alpha-6);
		}
	}

	&__title {
		font-family: var(--font-serif);
		color: var(--blue);
		line-height: 1;
		position: relative;

		h2 {
			position: relative;
			font-size: var(--fz-heading);
			font-weight: 300;
		}

		h2 small {
			font-size: var(--fz-sm);
			color: var(--color-text-secondary);
			font-family: var(--font-sans);
		}

		.section__title__textback {
			transform: scale(1);
			position: absolute;
			bottom: -20px;
			left: -6px;
			font-size: 11em;
			color: var(--lightest-blue-alpha);
			font-weight: 900;
			animation: blobChangeShape1 18s ease infinite;
		}

		&.text-right {
			text-align: right;
		}

		&.text-right .section__title__textback {
			left: auto;
			right: -6px;
		}
		&.text-center {
			text-align: center;
		}
		&.text-center .section__title__textback {
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
		}

		.textback__rotate__left,
		.textback__rotate__right {
			display: inline-block;
		}
		.textback__rotate__left {
			transform: rotate(-6deg);
		}
		.textback__rotate__right {
			transform: rotate(6deg);
		}
	}

	&__content {
		position: relative;
	}
}

@media only screen and (max-width: 992px) {
	.intro,
	.section,
	.footer {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media only screen and (max-width: 600px) {
	body,
	html {
		font-size: var(--fz-md);
	}

	.intro,
	.section,
	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.section__title h2 small {
		display: block;
	}
}
