.detail__blob {
	width: 200px;
	height: 200px;
	border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	background-color: var(--lightest-blue-alpha);
	margin: 0 auto;
	transform: rotate(45deg);

	&.light {
		background-color: var(--lightest-blue-alpha2);
	}
}

@keyframes blobMove1 {
	0% {
		transform: translateY(0) scale(1) rotate(0deg);
	}

	20% {
		transform: translateY(10px) scale(0.8);
	}

	40% {
		transform: translateY(20px) scale(1) rotate(40deg);
	}

	60% {
		transform: translateY(10px) scale(0.8) rotate(20deg);
	}

	80% {
		transform: translateY(-10px) scale(1);
	}

	90% {
		transform: translateY(-30px) scale(0.8) rotate(15deg);
	}

	100% {
		transform: translateY(0) scale(1) rotate(0deg);
	}
}

@keyframes blobMove2 {
	0% {
		transform: translateY(0) scale(1) rotate(0deg);
	}

	20% {
		transform: translateY(20px) scale(1) rotate(180deg);
	}

	30% {
		transform: translateY(-30px) scale(0.6) rotate(45deg);
	}

	60% {
		transform: translateY(-50px);
	}

	70% {
		transform: translateY(10px) scale(0.8);
	}

	80% {
		transform: translateY(50px) scale(0.8) rotate(90deg);
	}

	100% {
		transform: translateY(0) rotate(0deg);
	}
}

@keyframes blobMove3 {
	0% {
		transform: translateY(0) scale(1) rotate(0deg);
	}

	20% {
		transform: translateY(-10px) scale(0.8);
	}

	40% {
		transform: translateY(-20px) scale(1) rotate(10deg);
	}

	50% {
		transform: translateY(-50px) scale(0.8) rotate(45deg);
	}

	80% {
		transform: translateY(50px);
	}

	90% {
		transform: translateY(30px) scale(0.6) rotate(80deg);
	}

	100% {
		transform: translateY(0) rotate(0deg);
	}
}

@keyframes blobChangeShape1 {
	0% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	}
	20% {
		transform: translateY(-6px) translateX(-0px) rotate(1deg);
		border-radius: 48% 52% 67% 33% / 64% 51% 49% 36%;
	}
	30% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 57% 43% 40% 60% / 43% 34% 66% 57%;
	}
	40% {
		transform: translateY(-0px) translateX(-10px) rotate(4deg);
		border-radius: 46% 54% 72% 28% / 56% 47% 53% 44%;
	}
	60% {
		transform: translateY(-10px) translateX(5px) rotate(-2deg);
		border-radius: 73% 27% 40% 60% / 35% 46% 54% 65%;
	}
	80% {
		transform: translateY(5px) translateX(3px) rotate(2deg);
		border-radius: 36% 64% 39% 61% / 38% 35% 65% 62%;
	}
	90% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 57% 43% 40% 60% / 43% 34% 66% 57%;
	}
	100% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	}
}

@keyframes blobChangeShape2 {
	0% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 46% 54% 72% 28% / 56% 47% 53% 44%;
	}
	10% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 57% 43% 40% 60% / 43% 34% 66% 57%;
	}
	40% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	}
	50% {
		transform: translateY(5px) translateX(3px) rotate(2deg);
		border-radius: 36% 64% 39% 61% / 38% 35% 65% 62%;
	}
	60% {
		transform: translateY(-0px) translateX(-10px) rotate(4deg);
		border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	}
	70% {
		transform: translateY(-6px) translateX(-0px) rotate(1deg);
		border-radius: 48% 52% 67% 33% / 64% 51% 49% 36%;
	}
	80% {
		transform: translateY(-10px) translateX(5px) rotate(-2deg);
		border-radius: 73% 27% 40% 60% / 35% 46% 54% 65%;
	}
	100% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 46% 54% 72% 28% / 56% 47% 53% 44%;
	}
}

@keyframes blobChangeShape3 {
	0% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 36% 64% 39% 61% / 38% 35% 65% 62%;
	}
	10% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 57% 43% 40% 60% / 43% 34% 66% 57%;
	}
	20% {
		transform: translateY(3px) translateX(-6px) rotate(-1deg);
		border-radius: 57% 43% 40% 60% / 43% 34% 66% 57%;
	}
	40% {
		transform: translateY(5px) translateX(3px) rotate(2deg);
		border-radius: 56% 44% 47% 53% / 67% 51% 49% 33%;
	}
	60% {
		transform: translateY(-6px) translateX(-0px) rotate(1deg);
		border-radius: 48% 52% 67% 33% / 64% 51% 49% 36%;
	}
	80% {
		transform: translateY(-10px) translateX(5px) rotate(-2deg);
		border-radius: 73% 27% 40% 60% / 35% 46% 54% 65%;
	}
	90% {
		transform: translateY(-0px) translateX(-10px) rotate(4deg);
		border-radius: 46% 54% 72% 28% / 56% 47% 53% 44%;
	}
	100% {
		transform: translateY(0) translateX(0) rotate(0deg);
		border-radius: 36% 64% 39% 61% / 38% 35% 65% 62%;
	}
}
