#experience {
	background: var(--lightest-blue);
	background: linear-gradient(136deg, #ebfbff, #dde6ff);
	padding: 240px 0px 220px 0px;
	margin-top: -60px;
}
#experience .section__title__textback {
	color: #fff;
}

#experience .section__content {
	position: relative;
	display: flex;
	padding-top: 20px;
}

.jobs__tabs {
    padding-top: 10px;
}

.jobs__tabs__item {
}

.jobs__tabs__button {
	position: relative;
	display: block;
	background: transparent;
	border: none;
	border-radius: 0;
	padding: 15px 28px;
	// width: 100%;
	width: 180px;
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	cursor: pointer;
	font-weight: 600;
	transition: 0.2s all;
}

.jobs__tabs__button span {
	position: relative;
	display: block;
	transition: 0.1s all;
}

.jobs__tabs__button:hover,
.jobs__tabs__button.active {
	border-left: 2px solid var(--blue);
	color: var(--blue);
	transition: 0.1s all;
}

.jobs__tabs__button:hover span {
	transform: scale(1.1);
}
.jobs__tabs__button.active span {
	transform: scale(1.3);
}

.jobs__list {
	position: relative;
	width: 100%;
	margin: 10px 0 0 30px;
	// border-left: 1px solid #ddd;
}

.job__content {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transform: translate(-10px, 0);
}
.job__content.active {
	visibility: visible;
	opacity: 1;
	transition: 0.3s all;
	transform: translate(0, 0);
}

.job__title__company {
	margin: 0;
}

.job__company .atsymbol {
	position: relative;
	top: -3px;
}

.job__range {
	margin: 0 0 20px;
	color: var(--color-text-secondary);
	font-size: var(--fz-sm);
	//font-family: var(--font-mono);
	font-weight: 600;
}

.job__content .job__description li {
    padding-left: 28px;
    //font-size: var(--fz-sm);
	opacity: 0;
	transition: 0.3s all;
	transform: translate(-8px, 0);
}

.job__content .job__description li::before {
    position: absolute;
    left: 0px;
    color: var(--blue);
    
    // top: 1px;
    // content: "▶";
    // font-size: 14px;

    //top: -4px;
    top: -2px;
    content: "▹";
    font-size: 18px;
}

// .job__description__bullet {
//     padding: 0 4px 0 0;
//     color: var(--blue);
//     font-size: 18px;
//     line-height: 18px;
// }

.job__content.active .job__description li {
	opacity: 1;
	transform: translate(0, 0);
}

@for $i from 1 through 10 {
	.job__content.active .job__description li:nth-child(#{$i}) {
		transition-delay: #{$i * 0.05}s;
	}
}

.job__description {
	position: relative;
	padding: 50px;
}

.job__description:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: skew(-15deg, -5deg) translate(0px, -10px);
	background: #fff;
	box-shadow: 30px 30px 0 -10px rgba(255, 255, 255, 0.6);
}
.job__description ul {
	padding: 10px 10px 0 20px;
}

.job__description li {
	padding: 0 0 12px;
	font-size: var(--fz-md);
}

.job__technologies {
}
.job__technologies span {
	padding: 2px 6px;
	background: var(--blue);
	color: #fff;
	border-radius: 20px;
	font-size: var(--fz-xxs);
	font-weight: 600;
}
