:root {
	--blue: #008bd6;
	--light-blue: #46d2ff;
	// --lightest-blue: #eef4f7;
	--lightest-blue: rgba(163, 196, 212, 0.2);
	--lightest-blue-alpha: rgba(163, 196, 212, 0.2);
	--green: #60c05d;
	--purple: #835be5;
	--white: #ffffff;
	--color-text: #21282c;
	--color-text-secondary: #99a0aa;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 48px;
	--fz-heading-lg: clamp(38px, 8vw, 56px);
	--fz-heading-xl: clamp(48px, 8vw, 80px);
	--border-radius: 4px;
	--font-sans: "Encode Sans Semi Expanded", -apple-system, system-ui,
		sans-serif;
	--font-mono: "Roboto Mono", monospace;
	--font-serif: "Bellefair";
	--font-serif-uppercase: "Cinzel";
	--font-serif-decorative: "Cinzel Decorative";
	// --font-sans-heading: "Gotham";
	--grid-width: 900px;
	--grid-sm-width: 700px;
	--transition-btn-scale-in: all 0.2s;
	--transition-btn-scale-out: all 0.4s;
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
