:root {
	--blue: #0077b8;
	--blue: #008bd6;
	--light-blue: #79c7f1;
	--lightest-blue: #eef4f7;
	--white: #ffffff;
	--color-text: #21282c;
	--color-text-secondary: #99a0aa;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 48px;
	--fz-big-heading: clamp(48px, 8vw, 70px);
	--border-radius: 4px;
	--font-sans: "Encode Sans Semi Expanded", -apple-system, system-ui,
		sans-serif;
	--font-mono: "IBM Plex Mono", "Roboto Mono", monospace;
	--grid-width: 900px;
	--grid-sm-width: 700px;
	--transition-btn-scale-in: all 0.2s;
	--transition-btn-scale-out: all 0.4s;
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
