.jobs {
  border-bottom: 1px solid var(--purple-alpha);
  box-shadow: var(--dark-blue-alpha) 0px -80px 80px -20px inset;

  .section__content {
    position: relative;
    display: flex;
    padding-top: 20px;
  }

  &__tabs {
    padding-top: 10px;
    padding-right: 40px;

    &__button {
      position: relative;
      display: block;
      background: transparent;
      border: none;
      border-radius: 0;
      padding: 20px 28px;
      width: 180px;
      font-family: var(--font-sans);
      font-weight: 300;
      font-size: var(--fz-md);
      border-left: 1px solid var(--black-alpha-1);
      box-shadow: 0 0 0 0 inset var(--blue);
      cursor: pointer;
      transition: 0.2s all;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -4px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: var(--blue);
        // border-radius: 100%;
        transform: scale(0) rotate(180deg);
        transition: 0.3s all;
      }

      span {
        position: relative;
        display: block;
        transition: 0.1s all;
      }

      &:hover,
      &.active {
        border-left: 1px solid var(--blue);
        color: var(--blue);
        transition: 0.1s all;
      }
      &.active {
        &:before {
          transform: scale(1) rotate(-45deg);
          transition: 0.3s all ease;
        }
      }

      &:hover span {
        transform: scale(1.1);
      }
      &.active span {
        // transform: scale(1.3);
        transform: scale(1.2);
      }
    }
  }

  &__list {
    position: relative;
    width: 100%;
    margin: 10px 0 0 30px;

    .job {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transform: translate(-18px, 0);

      &.active {
        position: relative;
        visibility: visible;
        opacity: 1;
        transition: 0.6s all;
        transform: translate(0, 0);

        .job__description li {
          opacity: 1;
          transform: translate(0, 0);
        }

        @for $i from 1 through 10 {
          .job__description li:nth-child(#{$i}) {
            transition-delay: #{$i * 0.05}s;
          }
        }
      }

      &__title__company {
        margin: 0;
        font-size: var(--fz-heading-md);

        .job__title {
          font-family: var(--font-sans);
          font-weight: 700;
        }

        .job__company > * {
          font-weight: 300;
        }
      }

      &__company .atsymbol {
        position: relative;
        top: -3px;
      }

      &__range {
        margin: 0 0 20px;
        color: var(--color-text-secondary);
        font-size: var(--fz-sm);
        font-weight: 300;
      }

      &__description {
        position: relative;
        padding: 40px 0;

        &:before {
          content: '';
          position: absolute;
          top: -1%;
          left: -5%;
          width: 100%;
          height: 100%;
          background: var(--lightest-blue-alpha);
          border-radius: 42% 58% 47% 53% / 32% 59% 41% 68%;
          filter: blur(20px);
          animation: blobMove1 30s ease infinite;
        }

        ul {
          padding-left: 10px;
          li {
            opacity: 0;
            transition: 0.6s all;
            transform: translate(-14px, 0);
            padding: 0 0 30px 30px;
            font-size: var(--fz-md);

            &::before {
              position: absolute;
              left: 0px;
              color: var(--blue);
              top: 1px;
              content: '○';
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  &__technologies {
    span {
      padding: 2px 6px;
      background: var(--blue);
      color: #fff;
      border-radius: 20px;
      font-size: var(--fz-xxs);
      font-weight: 600;
    }
  }

  &__blobs {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .blob {
      position: absolute;
      // transition: 0.1s all;

      &:nth-child(1) {
        width: 500px;
        height: 500px;
        top: -100px;
        left: -170px;
        animation: blobMove1 30s ease infinite;
      }
      &:nth-child(2) {
        width: 150px;
        height: 150px;
        top: -30px;
        left: 350px;
        animation: blobMove2 26s ease infinite;
      }
      &:nth-child(3) {
        width: 80px;
        height: 80px;
        top: 250px;
        right: -150px;
        animation: blobMove3 28s ease infinite;
      }
    }
  }
}

@media (max-width: 768px) {
  .jobs {
    &__list {
      margin: 0;

      .job__title__company {
        .job__company {
          display: block;
          line-height: var(--fz-lg);

          & > * {
            font-size: var(--fz-lg);
            font-weight: 600;
          }
        }
      }

      .job__description {
        padding: 20px 0;

        ul {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .jobs {
    &.section {
      padding-left: 0px;
      padding-right: 0px;

      .jobs__list,
      .section__title {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .section__content {
      display: block;
    }

    &__tabs {
      display: flex;
      overflow: scroll;

      &__button {
        border-left: 0;
        border-bottom: 1px solid var(--black-alpha-1);
        padding: 10px 10px;
        font-weight: 600;

        &:hover,
        &.active {
          border-left: none;
          border-bottom: 1px solid var(--blue);
        }

        &.active {
          span {
            transform: scale(1);
          }
        }

        &::before {
          display: none;
        }
      }
    }

    &__list {
      margin: 30px 0 0 0;

      .job__title__company {
        font-size: var(--fz-lg);
      }
    }
  }
}
