.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	backdrop-filter: blur(10px);
	background-color: var(--white-alpha-6);
	z-index: 9;
	transition: all 0.3s ease-in-out;

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__right {
		display: flex;
		align-items: center;

		ul {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__linklogo {
		display: block;
		font-family: var(--font-serif-decorative);
		color: var(--color-text);
		font-weight: 100;
		font-size: 42px;
		padding: 0px 24px;
		line-height: 70px;
	}

	&__link {
		display: block;
		font-family: var(--font-sans);
		font-size: var(--fz-sm);
		font-weight: 400;
		padding: 12px 18px;
		color: var(--color-text);
		margin: 0 10px;
		transition: 0.3s all;
		position: relative;

		span {
			position: relative;
		}

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 15px;
			width: 25px;
			height: 25px;
			background-color: var(--lightest-blue-alpha);
			border-radius: 55% 45% 59% 41% / 44% 70% 30% 56%;
			transform: scale(0.4) rotate(180deg);
			opacity: 0;
			transition: 0.7s all ease-in-out;
		}

		&:hover {
			color: var(--blue);
			transition: 0.1s all;

			&:not(.navbar__link__resume) {
				&::before {
					transform: scale(2) rotate(45deg);
					opacity: 1;
					transition: 0.2s all ease-in-out;
				}
			}
		}

		&__resume {
			box-shadow: 0 0 0 1px var(--blue);
			border-radius: 50px;
			color: var(--blue);
			padding: 12px 24px;
			transition: 0.3s all ease-in-out;

			&:hover {
				background-color: var(--white);
				transform: scale(1.1);
				transition: 0.15s all ease-in-out;
				box-shadow: 0px 0px 0 0px transparent,
					0 10px 20px -15px var(--black-alpha-4);
			}
		}

		&__index {
			font-weight: 600;
			transform: rotate(-6deg);
			color: var(--blue);
			line-height: 1;

			&::after {
				content: ".";
			}
		}
	}

	// Navbar - show / hide navbar on scroll
	&.scrolled-down {
		transform: translateY(-100%);
	}
	&.scrolled-top,
	&.scrolled-up {
		transform: translateY(0);
	}
	&.scrolled-top {
		background-color: transparent;
		backdrop-filter: blur(0);
		padding: 10px;
	}
	&.scrolled-top-init {
		.navbar__link:not(.navbar__link__resume) {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.navbar__menu__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;
	margin-right: 5px;
	padding: 15px;
	border: 0px;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	text-transform: none;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;

	.ham-box {
		display: inline-block;
		position: relative;
		width: var(--hamburger-width);
		height: 24px;
	}

	.ham-box-inner {
		position: absolute;
		top: 50%;
		right: 0px;
		width: var(--hamburger-width);
		height: 2px;
		border-radius: var(--border-radius);
		background-color: var(--color-text);
		transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
		transform: rotate(0deg);
	}

	.ham-box-inner::before,
	.ham-box-inner::after {
		content: "";
		display: block;
		position: absolute;
		left: auto;
		right: 0px;
		width: var(--hamburger-width);
		height: 2px;
		border-radius: 4px;
		background-color: var(--color-text);
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform;
	}

	.ham-box-inner::before {
		width: 120%;
		top: -10px;
		opacity: 1;
		transition: var(--ham-before);
	}
	.ham-box-inner::after {
		width: 80%;
		bottom: -10px;
		transform: rotate(0deg);
		transition: var(--ham-after);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.navbar {
		&__menu__btn {
			display: none;
		}
	}
}
@media only screen and (max-width: 992px) {
	.background__fog,
	.background__globe,
	.background__birds {
		display: none;
	}

	input#show-menu:checked ~ .navbar {
		backdrop-filter: blur(10px) !important;
		background-color: transparent !important;
	}
	.navbar {
		backdrop-filter: blur(10px) !important;
		background-color: var(--white-alpha-6) !important;
		padding: 0 !important;
		transform: translateY(0) !important;

		&__menu {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			visibility: hidden;
			opacity: 0;
			transition: 0.4s all;
		}

		&__right ul {
			display: block;
			text-align: center;

			li {
				transition: 0.4s transform, 0.9s opacity;
				opacity: 0;
				transform: translate(0, -200px);
			}

			li:nth-child(1) {
				.navbar__link__index {
					animation: blobChangeShape1 20s ease-in-out infinite;
				}
			}
			li:nth-child(2) {
				.navbar__link__index {
					animation: blobChangeShape2 16s ease-in-out infinite;
				}
			}
			li:nth-child(3) {
				.navbar__link__index {
					animation: blobChangeShape3 18s ease-in-out infinite;
				}
			}
			li:nth-child(4) {
				.navbar__link__index {
					animation: blobChangeShape1 17s ease-in-out infinite;
				}
			}
			li:nth-child(4) {
				.navbar__link__index {
					animation: blobChangeShape2 18s ease-in-out infinite;
				}
			}
			li:nth-child(5) {
				.navbar__link__index {
					animation: blobChangeShape3 19s ease-in-out infinite;
				}
			}
		}

		&__link {
			display: inline-block;
			font-size: var(--fz-heading-md);
			font-family: var(--font-serif-uppercase);
			margin: 20px 10px;

			visibility: visible !important;
			opacity: 1 !important;

			&::before {
				top: 5px;
				left: -50px;
				width: 65px;
				height: 65px;
			}

			&__index {
				display: inline-block;
				line-height: 1;
				font-size: 2em;
				margin: 0 7px 0 -70px;
				color: var(--blue-alpha-7);
				font-weight: 300;
			}

			&__resume {
				padding: 12px 74px;
			}
		}
	}
}

// trigger menu
input#show-menu {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
}

// show mobile nav
input#show-menu:checked ~ .navbar {
	height: 100%;
	z-index: 10;

	.navbar__menu {
		opacity: 1;
		top: 0;
		height: 100%;

		li {
			opacity: 1;
			transform: translate(0, 0);
		}

		@for $i from 2 through 10 {
			li:nth-child(#{$i}) {
				transition-delay: #{$i * 0.05}s;
			}
		}
	}

	.navbar__menu__btn {
		.ham-box-inner {
			transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
				0.12s;
			transform: rotate(225deg);

			&::before {
				width: 100%;
				top: 0px;
				opacity: 0;
				transition: var(--ham-before-active);
			}
			&::after {
				width: 100%;
				bottom: 0px;
				transform: rotate(-90deg);
				transition: var(--ham-after-active);
			}
		}
	}
}
