#pub_awards .inner {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 50px;
}

@media (max-width: 768px) {
	#pub_awards .inner {
		display: block;
	}
}

.publication,
.award {
	margin-bottom: 2em;
	font-size: var(--fz-sm);
	&__title {
		display: block;
		font-weight: 600;
	}
	&__date {
		color: var(--color-text-secondary);
		font-size: var(--fz-xxs);
		font-weight: 600;
	}
	p {
		margin: 0.5em 0;
	}
}
