// Page divider 1

.custom-shape-divider-top-1627424741 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1627424741 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 106px;
}

.custom-shape-divider-top-1627424741 .shape-fill {
	fill: #ffffff;
}

// Page divider 2

.custom-shape-divider-bottom-1627425036 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627425036 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 106px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1627425036 .shape-fill {
	fill: #ffffff;
}
