.skills {
	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 640px;
		margin: auto;
	}

	&__category {
		&__title {
		}
		&__item {
			margin: 3px 0;
			font-size: 0.9rem;
		}
	}
}
