.testemonials {
	background: var(--lightest-blue);
	background: linear-gradient(136deg, #edebff, #ddffe9);
	margin-top: -60px;

	padding: 160px 0px 220px 0px;
}

.testemonials .inner {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	gap: 50px;
	margin-top: 50px;

	&::before {
		content: "";
		background-color: #fff;
		position: absolute;
		top: -40%;
		left: -10%;
		width: 120%;
		height: 180%;
		transform: rotate(-1deg) skew(6deg, 5deg) translate(0px, 10px);
		box-shadow: 30px 30px 0 -10px rgba(255, 255, 255, 0.6);
	}

	.testemonial {
		position: relative;
		font-size: var(--fz-sm);
		&__person {
			display: flex;

			&__photo {
				img {
					width: 90px;
					border-radius: 100%;
				}
			}

			&__info {
				padding: 14px 0 0 16px;
			}
		}

		&__name {
			font-weight: 600;
		}
		&__title {
			color: var(--color-text-secondary);
			font-size: var(--fz-xxs);
		}
	}
}

@media (max-width: 768px) {
	.testemonials .inner {
		display: block;
	}
}
