:root {
	--dark-navy: #020c1b;
	--navy: #0a192f;
	--light-navy: #112240;
	--lightest-navy: #233554;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--white: #e6f1ff;
	--green: #64ffda;
	--green-tint: rgba(100, 255, 218, 0.1);
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 48px;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	--hamburger-width: 30px;
	--ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
	--ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	--ham-after: bottom 0.1s ease-in 0.25s,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ham-after-active: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

	--font-sans: "Encode Sans Semi Expanded", -apple-system, system-ui,
		sans-serif;

	--font-mono: "Nixie One", "Cutive Mono", 'PT Mono", "IBM Plex Mono',
		"Roboto Mono", monospace;
	--font-mono: "Cutive Mono", 'PT Mono", "IBM Plex Mono', "Roboto Mono",
		monospace;
	--font-mono: 'PT Mono", "IBM Plex Mono', "Roboto Mono", monospace;
	--font-mono: "IBM Plex Mono", "Roboto Mono", monospace;

	--blue: #0077b8;
	--blue: #008bd6;
	--light-blue: #0daaff;
	--lightest-blue: #eef4f7;
	--white: #ffffff;
	--color-text: #1e272c;
	--color-text: #21282c;
	--fz-big-heading: clamp(48px, 8vw, 70px);
	--transition-btn-scale-in: all 0.2s;
	--transition-btn-scale-out: all 0.4s;
}

// main.scss

body,
html {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: var(--color-text);
	font-family: var(--font-sans);

	font-size: var(--fz-lg);
	line-height: 1.5;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: var(--blue);
	text-decoration: none;
	font-weight: 600;
}

p > a,
li > a {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	position: relative;
	transition: var(--transition);
	color: var(--blue);
}

// p > a:hover, p > a:focus, p > a:active,
// li > a:hover, li > a:focus, li > a:active {
//     color: var(--blue);
//     outline: 0px;
// }

// p > a::after,
// li > a::after {
//     content: "";
//     display: block;
//     width: 0px;
//     height: 1px;
//     position: relative;
//     bottom: 0;
//     background-color: var(--blue);
//     transition: var(--transition);
//     // opacity: 0.4;
// }

// p > a:hover::after, p > a:focus::after, p > a:active::after,
// li > a:hover::after, li > a:focus::after, li > a:active::after {
//     width: 100%;
// }

/* Based on https://tympanus.net/Development/LineHoverStyles/ */

.link {
	z-index: 1;
	position: relative;
}

.link::before,
.link::after {
	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: -1;
}

.link::before {
	content: "";
	height: 100%;
	border-bottom: 1px solid currentColor;
	/* show by default */
}

.link--metis::before {
	background: transparent;
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s, background 0.3s;
}

.link--metis:hover::before {
	background: var(--lightest-blue);
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
	transition: transform 0.3s, background 0.6s;
}

.grid-wrap {
	max-width: 900px;
	margin: auto;
}
.grid-wrap-sm {
	max-width: 700px;
	margin: auto;
}

.big-heading {
	margin: 0px;
	font-size: var(--fz-big-heading);
}

.intro {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1440px;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.intro__content--hello {
	display: block;
	color: var(--blue);
	font-size: var(--fz-lg);
	font-family: var(--font-mono);
	font-weight: 600;
	margin-bottom: -10px;
}

.intro__content--name {
}

.intro__content--title {
	line-height: 0.4;
	opacity: 0.6;
}

.intro__content--description {
	max-width: 700px;
}

.intro__content--email-link {
	position: relative;
	display: inline-block;
	padding: 20px 60px;
	margin: 20px 0 30px;
	border: 2px solid var(--blue);
	//border-radius: 100px;
	transition: var(--transition-btn-scale-out);

	transform: rotate(-3deg);
	box-shadow: 10px 8px 0 0 #eee;
	box-shadow: 10px 8px 0 0 var(--lightest-blue);
}

.intro__content--email-link:hover {
	// box-shadow: 0 10px 40px -30px rgba(0,0,0,.4);
	transform: rotate(0deg) scale(1.1);
	transition: var(--transition-btn-scale-in);
	box-shadow: 0px 20px 0 -10px #eee;
	box-shadow: 0px 20px 0 -10px var(--lightest-blue);
}

.section {
	// display: flex;
	// justify-content: center;

	padding: 160px 0px;
}

.section__title {
	font-family: var(--font-mono);
	color: var(--blue);
	//text-shadow: 10px 10px #eee;
	line-height: 1;
	position: relative;
}

.section__title h2 {
	position: relative;
	font-size: 1.7em;
}

.section__title .section__title__textback {
	transform: scale(1);
	position: absolute;
	bottom: -20px;
	left: -6px;
	font-size: 11em;
	//line-height: 0.75;
	color: var(--lightest-blue);
	font-weight: 900;
}

.section__title.text-right {
	text-align: right;
}

.section__title.text-right .section__title__textback {
	left: auto;
	right: -6px;
}
.section__title.text-center {
	text-align: center;
}
.section__title.text-center .section__title__textback {
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

.textback__rotate__left,
.textback__rotate__right {
	display: inline-block;
}
.textback__rotate__left {
	transform: rotate(-6deg);
}
.textback__rotate__right {
	transform: rotate(6deg);
}

.section__content {
	position: relative;
}

.skills_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	max-width: 640px;
	margin: auto;
}

.skills__category {
}
.skills__category__title {
}
.skills__category__item {
	margin: 3px 0;
	font-size: 0.9rem;
}

#about .inner {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 50px;
}

@media (max-width: 768px) {
	#about .inner {
		display: block;
	}
}

#about p {
	text-align: justify;
}

.about__profile__image {
	max-width: 300px;
}

.about__profile__image img {
	//box-shadow: -20px 20px 60px -30px rgba(0, 0, 0, 0.3), -70px 70px 0 -30px #eee;
	box-shadow: -70px 70px 0 -30px #eee;
}

.image-wrapper {
	//box-shadow: 0 10px 30px -15px var(--navy-shadow);
	//transition: var(--transition);
	display: block;
	position: relative;
	width: 100%;
	border-radius: var(--border-radius);
	//background-color: var(--light-blue);

	position: relative;
}

.image-wrapper img {
	position: relative;
	display: block;
	border-radius: var(--border-radius);
	//mix-blend-mode: multiply;
	//filter: grayscale(100%) contrast(1);
	transition: var(--transition);
	max-width: 100%;
	border-radius: 100%;

	transform: rotate(11deg);
	border-radius: 0;
	position: relative;
	top: 80px;

	position: absolute;
	left: 20px;
	top: -30px;
	width: 480px;
	max-width: initial;
	max-height: initial;
}

#experience {
	background: var(--lightest-blue);
}
#experience .section__title__textback {
	color: #fff;
}

#experience .section__content {
	position: relative;
	display: flex;
	padding-top: 20px;
}

.jobs__tabs__item {
}

.jobs__tabs__button {
	position: relative;
	display: block;
	background: transparent;
	border: none;
	border-radius: 0;
	padding: 14px 28px;
	// width: 100%;
	width: 180px;
	border-left: 2px solid #ddd;
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	cursor: pointer;
	font-weight: 600;
	transition: 0.2s all;
}

.jobs__tabs__button span {
	position: relative;
	display: block;
	transition: 0.1s all;
}

.jobs__tabs__button:hover,
.jobs__tabs__button.active {
	border-left: 2px solid var(--blue);
	color: var(--blue);
	transition: 0.1s all;
}

.jobs__tabs__button:hover span {
	transform: scale(1.1);
}
.jobs__tabs__button.active span {
	transform: scale(1.3);
}

.jobs__list {
	position: relative;
	width: 100%;
	padding-left: 20px;
	// border-left: 1px solid #ddd;
}

.job__content {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transform: translate(-10px, 0);
}
.job__content.active {
	visibility: visible;
	opacity: 1;
	transition: 0.3s all;
	transform: translate(0, 0);
}

.job__title__company {
	margin: 0;
}

.job__company .atsymbol {
	position: relative;
	top: -3px;
}

.job__range {
	margin: 0 0 20px;
	color: #999;
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	font-weight: 600;
}

.job__content .job__description li {
	opacity: 0;
	transition: 0.3s all;
	transform: translate(-8px, 0);
}

.job__content.active .job__description li {
	opacity: 1;
	transform: translate(0, 0);
}

@for $i from 1 through 10 {
	.job__content.active .job__description li:nth-child(#{$i}) {
		transition-delay: #{$i * 0.05}s;
	}
}

.job__description {
}
.job__description li {
	padding: 0 0 12px;
	font-size: var(--fz-md);
}

.scrollreveal {
	position: relative;
	//opacity: 0.1;
	opacity: 0;
	// transition: all 1.5s ease;
	transform: translate(0, 40px);
}

.scrollreveal__active {
	opacity: 1;
	transition: all 1s ease;
	transform: translate(0, 0);
}

.scrollreveal__fromleft,
.scrollreveal__fromright {
	// transition: all 1.5s ease;
	opacity: 0;
}

.scrollreveal__active .scrollreveal__fromleft,
.scrollreveal__active .scrollreveal__fromright {
	transition: all 1s ease;
	opacity: 1;
}

.scrollreveal__fromleft {
	transform: translate(-50%, 0);
}

.scrollreveal__active .scrollreveal__fromleft {
	transform: translate(0, 0);
}

.scrollreveal__fromright {
	transform: translate(50%, 0);
}

.scrollreveal__active .scrollreveal__fromright {
	transform: translate(0, 0);
}

.scrollreveal.scrollreveal__active.scrollreveal__delay05,
.scrollreveal.scrollreveal__active .scrollreveal__delay05 {
	transition-delay: 0.5s;
}

.scrollreveal.scrollreveal__active.scrollreveal__delay1,
.scrollreveal.scrollreveal__active .scrollreveal__delay1 {
	transition-delay: 1s;
}

.scrollreveal.scrollreveal__active.scrollreveal__delay2,
.scrollreveal.scrollreveal__active .scrollreveal__delay2 {
	transition-delay: 2s;
}
