---
layout: default
---

<main>
  <section class="intro">
    {% include intro.html %}
  </section>

  <div class="intro__sociallinks">
    <a href="https://github.com/{{site.github_username}}" target="_blank" title="GitHub" rel="noreferrer">
      <span class="icon-github"></span>
    </a>
    <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" title="LinkedIn" rel="noreferrer">
      <span class="icon-linkedin"></span>
    </a>
  </div>

  <section id="about" class="section about">
    <div class="background__globe"></div>
    <div class="grid-wrap scrollreveal">
      {% include about.html %}
    </div>
  </section>

  <section id="skills" class="section section__darker skills">
    <div class="skills__blobs">
      <div class="grid-wrap relative">
        <div class="blob detail__blob"></div>
        <div class="blob detail__blob"></div>
        <div class="blob detail__blob"></div>
      </div>
    </div>

    <div class="grid-wrap scrollreveal">
      {% include skills.html %}
    </div>
  </section>

  <section id="experience" class="section jobs section__darker">
    <div class="jobs__blobs">
      <div class="grid-wrap relative">
        <div class="blob detail__blob"></div>
        <div class="blob detail__blob"></div>
        <div class="blob detail__blob"></div>
      </div>
    </div>

    <div class="grid-wrap scrollreveal">
      {% include jobs.html %}
    </div>
  </section>

  <section id="open_source_projects" class="section open_source_projects">
    <div class="open_source_projects__blobs">
      <div class="grid-wrap relative">
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
      </div>
    </div>
    <div class="grid-wrap">
      <div class="inner">
        <div id="open_source">
          {% include open_source.html %}
        </div>
      </div>
      <div class="inner">
        <div></div>
        <div id="publications" style="margin-top: -100px;">
          {% include publications.html %}
        </div>
      </div>
      <div class="inner">
        <div id="awards" style="margin-top: -100px;">
          {% include awards.html %}
        </div>
      </div>
    </div>
  </section>

  <section id="testimonials" class="section testimonials ">
    <div class="testimonials__blobs">
      <div class="grid-wrap relative">
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
      </div>
    </div>
    <div class="grid-wrap">
      {% include testimonials.html %}
    </div>
  </section>

  <section id="hobbies" class="section hobbies">
    <div class="hobbies__blobs">
      <div class="grid-wrap relative">
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
        <div class="blob detail__blob light"></div>
      </div>
    </div>
    <div class="grid-wrap">
      <div>
        {% include hobbies.html %}
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="grid-wrap inner">
      {% include footer.html %}
    </div>
  </footer>
</main>