---
layout: default
---

<main>


    <section class="intro">
        {% include intro.html %}
    </section>

    <section id="about" class="section">
        <div class="grid-wrap scrollreveal">
            {% include about.html %}
        </div>
    </section>

    <section id="skills" class="section">
        <div class="grid-wrap scrollreveal">
            {% include skills.html %}
        </div>
    </section>

    <section id="experience" class="section">
        <div class="custom-shape-divider-top-1627424741">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="grid-wrap scrollreveal">
            {% include experience.html %}
        </div>
        <div class="custom-shape-divider-bottom-1627425036">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <!-- <section id="projects" class="section">
        <div class="grid-wrap scrollreveal">
            {% include projects.html %}
        </div>
    </section> -->



    <section id="pub_awards" class="section">
        <div class="grid-wrap scrollreveal">
            <div class="inner">
                <div id="publications">
                    {% include publications.html %}
                </div>
                <div id="awards">
                    {% include awards.html %}
                </div>
            </div>
        </div>
    </section>

    <section id="testemonials" class="section scrollreveal">
        <div class="custom-shape-divider-top-1627644447">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="grid-wrap">
            {% include testemonials.html %}
        </div>
        <div class="custom-shape-divider-bottom-1627645132">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <footer class="footer">
        <div class="grid-wrap inner">
            {% include footer.html %}
        </div>
    </footer>




    <!-- <ul>
        {% for post in site.posts %}
        <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <h3><a href="/about">About</a></h3> -->


</main>