---
layout: default
---

<main>


    <section class="intro">
        {% include intro.html %}
    </section>

    <section id="about" class="section grid-wrap scrollreveal">
        {% include about.html %}
    </section>

    <section id="skills" class="section grid-wrap scrollreveal">
        {% include skills.html %}
    </section>

    <section id="experience" class="section grid-wrap scrollreveal">
        {% include experience.html %}
    </section>

    <section id="projects" class="section grid-wrap scrollreveal">
        {% include projects.html %}
    </section>

    <section id="publications" class="section grid-wrap scrollreveal">
        {% include publications.html %}
    </section>

    <section id="awards" class="section grid-wrap scrollreveal">
        {% include awards.html %}
    </section>

    <section id="testemonials" class="section grid-wrap scrollreveal">
        {% include testemonials.html %}
    </section>

    <ul>
        {% for post in site.posts %}
        <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <h3><a href="/about">About</a></h3>


</main>